altair==5.0.1
anyio==4.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow-cpp==16.1.0
asttokens==2.0.5
async-lru==2.0.4
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.6.2
numpy==1.26.4
pandas==2.2.2
pillow==10.4.0
protobuf==4.25.3
pyarrow==16.1.0
pydeck==0.8.0
pygments==2.15.1
python-dateutil==2.9.0
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
streamlit==1.38.0
tqdm==4.66.5
typing-extensions==4.11.0
watchdog==4.0.1
